/raw_data/
/.vscode/
/.idea/
/archive/
/src/prm.egg-info/
__pycache__/
# /utils/
/output/

/data_gen/
!/data_gen/**/*/.py


# temp
data.ipynb
demo.py
utils/api.py
utils/verilog_check.py
utils/token_len_static.py
dataset/verilog-machine-function-wo_cot.json
*.png
readme.md
